@model AgendeMeWeb.Models.DiaAgendamentoViewModel

@{
    ViewData["Title"] = "Cadastrar Agenda";
    Layout = ViewData["Layout"]?.ToString();
}

<h4>Cadastrar Agenda</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form class="d-grid gap-4" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="DiaSemana" class="control-label"></label>
                <input asp-for="DiaSemana" class="form-control" />
                <span asp-validation-for="DiaSemana" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="HorarioInicio" class="control-label"></label>
                <input asp-for="HorarioInicio" class="form-control" />
                <span asp-validation-for="HorarioInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioFim" class="control-label"></label>
                <input asp-for="HorarioFim" class="form-control" />
                <span asp-validation-for="HorarioFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VagasAtendimento" class="control-label"></label>
                <input asp-for="VagasAtendimento" class="form-control" />
                <span asp-validation-for="VagasAtendimento" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="VagasAgendadas" class="control-label"></label>
                <input asp-for="VagasAgendadas" class="form-control" />
                <span asp-validation-for="VagasAgendadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VagasRetorno" class="control-label"></label>
                <input asp-for="VagasRetorno" class="form-control" />
                <span asp-validation-for="VagasRetorno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VagasAgendadasRetorno" class="control-label"></label>
                <input asp-for="VagasAgendadasRetorno" class="form-control" />
                <span asp-validation-for="VagasAgendadasRetorno" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="ListaServicos" class="control-label"></label>
                <select asp-for="IdServicoPublico" asp-items="@Model.ListaServicos" class="form-select"></select>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Salvar" class="br-button primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="br-button" asp-action="Index">Voltar</a>
</div>
@section Css {
        <link rel="stylesheet" href="~/css/footer.css" />
    }
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}