@model AgendeMeWeb.Models.AgendarServicoViewModel

@{
    ViewData["Title"] = "Agendar Retorno";
}

<h1>Agendar Retorno</h1>

<h4>AgendarServicoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden"  asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Situacao" class="form-control" />
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden"  asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioInicio" class="control-label"></label>
                <input asp-for="HorarioInicio" class="form-control" />
                <span asp-validation-for="HorarioInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioFim" class="control-label"></label>
                <input asp-for="HorarioFim" class="form-control" />
                <span asp-validation-for="HorarioFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="IdCidadao" class="form-control" />
                <span asp-validation-for="IdCidadao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAtendente" class="control-label"></label>
                <input asp-for="IdAtendente" class="form-control" />
                <span asp-validation-for="IdAtendente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden"  asp-for="IdRetorno" class="form-control" />
                <span asp-validation-for="IdRetorno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden"  asp-for="IdProfissional" class="form-control" />
                <span asp-validation-for="IdProfissional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden"  asp-for="IdServicoPublico" class="form-control" />
                <span asp-validation-for="IdServicoPublico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agendar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
