@{
    ViewData["Title"] = "Agendar Serviço";
}

<h1 class="mt-5 text-center fw-bold fs-2">Áreas Disponíveis</h1>
<h4 class="mb-5 text-center fw-light fs-4">Encontre o serviço desejado através das áreas</h4>

<div id="ajaxBox">
</div>

@section Scripts {
    <script>

        $(document).ready(function(){
             $.ajax({
            type: "POST",
                url: "@Url.Action("AjaxAreasDeServico")",
            dataType: "HTML",
            data: { prefeitura : "Ribeirópolis"},

            success: function(result){
                $("#ajaxBox").html(result);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //TODO::
            },
        });
        })
    </script>
}