@model IEnumerable<AgendeMeWeb.Models.OrgaoPublicoViewModel>

<div class="mb-4 pb-4">
    <i class="azul-agende-me icone-botao-box mt-4 w-100 d-block mx-auto @ViewBag.iconeServicoPublico text-center"></i>
    <h2 class="text-center fw-bold azul-text">@ViewBag.nomeServicoPublico</h2>
</div>
