@{
    ViewData["Title"] = "Painel de Atendimento";
    Layout = "_LayoutAtendimento";
}
<div id="painelAtendimento">
</div>
<div class="position-absolute d-none d-md-flex" style="bottom: 20px; right: 20px;">
    <button id="btnFullScreen" class="br-button" type="button" aria-label="Ãcone para entrar e sair da tela cheia">
        <i id="btnFullScreenIcon" class="fas fa-expand fs-1 flex-fill"></i>
    </button>
</div>