@model AgendeMeWeb.Models.AgendaDoServicoViewModel

@{
    ViewData["Title"] = "Cadastro de Agenda de Serviço";
}

<h1>Cadastrar nova agenda de serviço</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DiaSemana" class="control-label"></label>
                <input asp-for="DiaSemana" class="form-control" />
                <span asp-validation-for="DiaSemana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioInicio" class="control-label"></label>
                <input asp-for="HorarioInicio" class="form-control" />
                <span asp-validation-for="HorarioInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioFim" class="control-label"></label>
                <input asp-for="HorarioFim" class="form-control" />
                <span asp-validation-for="HorarioFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VagasAtendimento" class="control-label"></label>
                <input asp-for="VagasAtendimento" class="form-control" />
                <span asp-validation-for="VagasAtendimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VagasRetorno" class="control-label"></label>
                <input asp-for="VagasRetorno" class="form-control" />
                <span asp-validation-for="VagasRetorno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdServicoPublico" class="control-label"></label>
                <input asp-for="IdServicoPublico" class="form-control" />
                <span asp-validation-for="IdServicoPublico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfissional" class="control-label"></label>
                <input asp-for="IdProfissional" class="form-control" />
                <span asp-validation-for="IdProfissional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
