body {
    background: #f8f8f8;
}

.back-none:hover {
    background: none !important;
}

.icone-botao-box{
    font-size: 80px;
}

.azul-agende-me {
    color: #1351B4;
}

.azul-text {
    color: #0C326F;
}

.botao-box {
    cursor: pointer;
}

