body {
    background: #f8f8f8;
}

.back-none:hover {
    background: none !important;
}

.breadcrumb-home {
    display: flex !important;
}

.icone-botao-box {
    font-size: 80px;
}

.azul-agende-me {
    color: #1351B4;
}

.azul-text {
    color: #0C326F;
}

.box {
    cursor: pointer;
    margin-bottom: 0px !important;
    border-bottom: 2px solid #6c6c6c61;
}

.w-250 {
    width: 250px;
}

.w-200 {
    width: 200px;
}

.flex-c-gap{
    column-gap: 40px;
}

.flex-r-gap {
    row-gap: 50px;
}

.loading-areas {
    margin: auto;
    margin-top: 150px;
    margin-bottom: 120px;
}

.dinamic-flex{
    column-gap: 16px;
    row-gap: 10px;
}
.dinamic-margin{
    width: auto;
}

@media only screen and (max-width: 1000px) {
    .dinamic-margin{
        width: 100%;
        margin:auto;
    }
    .d-flex-dinamic {
        justify-content: center !important;
        column-gap: 55px;
    }
}