#btnFullScreen {
    width: 100px;
    height: 100px;
}

.bg-at {
    background-color: rgb(230, 230, 230);
}

.blink {
    animation: blinker 500ms linear;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }