@import "./rawline.css";

body {
    font-family: "rawline", sans-serif;
}


/* ========== rawline font ========== */
.r100 {
  font-weight: 100;
  font-style: normal;
}

.r100i {
  font-weight: 100;
  font-style: italic;
}

.r200 {
  font-weight: 200;
  font-style: normal;
}

.r200i {
  font-weight: 200;
  font-style: italic;
}

.r300 {
  font-weight: 300;
  font-style: normal;
}

.r300i {
  font-weight: 300;
  font-style: italic;
}

.r400 {
  font-weight: 400;
  font-style: normal;
}

.r400i {
  font-weight: 400;
  font-style: italic;
}

.r500 {
  font-weight: 500;
  font-style: normal;
}

.r500i {
  font-weight: 500;
  font-style: italic;
}

.r600 {
  font-weight: 600;
  font-style: normal;
}

.r600i {
  font-weight: 600;
  font-style: italic;
}

.r700 {
  font-weight: 700;
  font-style: normal;
}

.r700i {
  font-weight: 700;
  font-style: italic;
}

.r800 {
  font-weight: 800;
  font-style: normal;
}

.r800i {
  font-weight: 800;
  font-style: italic;
}

.r900 {
  font-weight: 900;
  font-style: normal;
}

.r900i {
  font-weight: 900;
  font-style: italic;
}
