@model AgendeMeWeb.Models.AreaDeServicoViewModel

@{
    ViewData["Title"] = "Cadastrar nova área de serviço";
}

<h1>Cadastrar nova área de serviço</h1>

<h4>AreaDeServicoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPrefeitura" class="control-label"></label>
                <input asp-for="IdPrefeitura" class="form-control" />
                <span asp-validation-for="IdPrefeitura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icone" class="control-label"></label>
                <input asp-for="Icone" class="form-control" />
                <span asp-validation-for="Icone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
