<div class="navbar-nav">
    <div class="nav-item">
        <a class="br-sign-in small" id="login" asp-area="Identity" asp-page="/Account/Login"> 
            <i class="fas fa-user" aria-hidden="true"></i> Entrar
        </a>
    </div>
</div>
