<div class="br-menu" id="main-navigation2">
    <div class="menu-container">
    <div class="menu-panel position-absolute end-0">
        <div class="menu-header">
        <div class="menu-title d-flex flex-column align-items-start">
            <span class="text-bold fs-6">@User.FindFirst("NomeCompleto")?.Value</span>
            <span class="text-bold fs-6">@User.FindFirst("Papel")?.Value</span> 
        </div>
        <div class="menu-close">
            <button class="br-button circle" type="button" aria-label="Fechar o menu" data-dismiss="menu"><i class="fas fa-times" aria-hidden="true"></i>
            </button>
        </div>
        </div>
        <nav class="menu-body">
            @* <div class="menu-folder">
                <a class="menu-item" href="javascript: void(0)">
                    <span class="icon">
                        <i class="fas fa-calendar" aria-hidden="true"></i>
                    </span>
                    <span class="content">Teste</span>
                </a>
                <ul>
                    <li>
                        <a class="menu-item" asp-controller="AgendarServico" asp-action="Index">
                            <span class="icon">
                                <i class="fas fa-calendar-day" aria-hidden="true"></i>
                            </span>
                            <span class="content">Agendar Serviço</span>
                        </a>
                    </li>
                    <li>
                        <a class="menu-item" href="javascript: void(0)">
                            <span class="icon">
                                <i class="fas fa-calendar-check" aria-hidden="true"></i>
                            </span>
                            <span class="content">Consultar Agendamentos</span>
                        </a>
                    </li>
                </ul>
            </div> *@
            <a class="menu-item divider" role="button">
                <span class="icon"><i class="fas fa-user" aria-hidden="true"></i></span>
                <span class="content">Meus Dados</span>
            </a>
            <a class="menu-item divider" role="button">
                <span class="icon"><i class="fas fa-cog" aria-hidden="true"></i></span>
                <span class="content">Configurações</span>
            </a>
            <a class="menu-item divider" role="button" onclick="Sair()">
                @* <span class="icon">
                        <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                    </span>
                    <button class="content text-primary border-0 bg-transparent" type="submit">Sair</button> *@
                <span class="icon">
                    <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                </span>
                <span class="content">Sair</span>
                <form id="sairForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">                  
                </form>
            </a>
        </nav>
    </div>
    <div class="menu-scrim" data-dismiss="menu" tabindex="0"></div>
    </div>
</div>
<div class="col">
    <div class="d-flex align-items-center">
        <div>
            <a class="br-button block fs-5 text-bold" role="button" aria-label="Menu Usuário" data-toggle="menu" data-target="#main-navigation2">
                Olá, @User.FindFirst("Nome")?.Value
            </a>
        </div>
    </div>
</div>