<div class="br-menu" id="main-navigation2">
    <div class="menu-container">
    <div class="menu-panel position-absolute end-0">
        <div class="menu-header">
        <div class="menu-title d-flex flex-column align-items-start">
            <span class="text-bold fs-5">@User.FindFirst("NomeCompleto")?.Value</span>
            <span class="text-bold fs-6 text-secondary">@User.FindFirst("Papel")?.Value</span> 
        </div>
        <div class="menu-close">
            <button class="br-button circle" type="button" aria-label="Fechar o menu" data-dismiss="menu"><i class="fas fa-times" aria-hidden="true"></i>
            </button>
        </div>
        </div>
        <nav class="menu-body">
            <a class="menu-item divider" role="button">
                <span class="icon"><i class="fas fa-user" aria-hidden="true"></i></span>
                <span class="content text-bold">Meus Dados</span>
            </a>
            <a class="menu-item divider" role="button">
                <span class="icon"><i class="fas fa-cog" aria-hidden="true"></i></span>
                <span class="content text-bold">Configurações</span>
            </a>
            <a class="menu-item divider" role="button" onclick="Sair()">
                <span class="icon">
                    <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                </span>
                <span class="content text-bold">Sair</span>
                <form id="sairForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">                  
                </form>
            </a>
        </nav>
    </div>
    <div class="menu-scrim" data-dismiss="menu" tabindex="0"></div>
    </div>
</div>
<div class="col">
    <div class="d-flex align-items-center">
        <div>
            <a class="br-button block fs-5 text-bold" role="button" aria-label="Menu Usuário" data-toggle="menu" data-target="#main-navigation2">
                Olá, @User.FindFirst("Nome")?.Value
            </a>
        </div>
    </div>
</div>