@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueci Senha";
}

<h1>@ViewData["Esqueci a senha"]</h1>
<h2 class="pb-1">Insira seu email</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Input.Email" class="form-label"></label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <div class="mt-2 d-flex justify-content-end">
                <button type="submit" class="br-button primary mr-3">Redefinir Senha</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
