@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueci Senha";
}
<div class="text-center my-6">
    <h1>Email enviado!</h1>
    <p>
        Por favor, verifique sua caixa de entrada no email para redefinir a senha.
    </p>
</div>
