@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Senha Redefinida com Sucesso!";
}

<div class="text-center my-6">
    <h1>@ViewData["Title"]</h1>

    <p>
        Sua senha foi redefinida. Por favor, <a asp-page="./Login">Clique aqui para entrar na sua conta</a>.
    </p>
</div>
