@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Redefinir Senha";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />

            <label asp-for="Input.Email" class="form-label"></label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <label asp-for="Input.Password" class="form-label"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <div class="input-group d-flex align-items-center border rounded bg-white">
                <input asp-for="Input.Password" type="password" class="form-control fs-5  ps-1 border-0 PasswordInput" autocomplete="new-password" aria-required="true" />
                <i class="fas fa-eye mx-2 pointer-cursor toggleSenha" tooltip" title="Mostrar senha" onclick="togglePassword('PasswordInput')"></i>
            </div>

            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
            <div class="input-group d-flex align-items-center border rounded bg-white">
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control fs-5  ps-1 border-0 PasswordInput" autocomplete="new-password" aria-required="true" />
                <i class="fas fa-eye mx-2 pointer-cursor toggleSenha" tooltip" title="Mostrar senha" onclick="togglePassword('PasswordInput')"></i>
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            

            <button type="submit" class="mt-2 br-button primary w-100 mr-3">Redefinir</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function togglePassword(inputId) {
            var passwordInput = document.getElementsByClassName(inputId);
            var eyeIcon = document.getElementsByClassName('toggleSenha');

            if (passwordInput[0].type === "password") {
                passwordInput[0].type = "text";
                passwordInput[1].type = "text";
                eyeIcon[0].classList.remove("fa-eye");
                eyeIcon[0].classList.add("fa-eye-slash");

                eyeIcon[1].classList.remove("fa-eye");
                eyeIcon[1].classList.add("fa-eye-slash");

            } else {
                passwordInput[0].type = "password";
                passwordInput[1].type = "password";
                eyeIcon[0].classList.remove("fa-eye-slash");
                eyeIcon[0].classList.add("fa-eye");

                eyeIcon[1].classList.remove("fa-eye-slash");
                eyeIcon[1].classList.add("fa-eye");
            }
        }
    </script>
}
